:root {
  --branding-color: #009688;
  --secondary-color: #b2dfdb;
  --light-color: #f9f7fe;
  --primary-text-color: #212121;
  --secondary-text-color: #3f3f3f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav p {
  margin-top: 6px;
  font-weight: bolder;
  color: var(--secondary-text-color);
  font-size: 16px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav li.active a {
  color: var(--branding-color);
}

nav a {
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: all 100ms ease-in-out;
  font-size: 14px;
}

nav a:hover {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 22px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  color: var(--secondary-text-color);
  margin: 0 20px;
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: whitesmoke;
  background: var(--branding-color);
}

.subheading {
  color: var(--secondary-text-color);
  font-size: 32px;
  font-family: car(--default-font-family);
  font-weight: 600;
  text-transform: uppercase;
}

.card-image {
  padding: 20px 80px 20px 80px;
  margin: 30px 0px 0px 15px;
  border-radius: 20px;
  transition: transform.55s;
}

.card-image:hover {
  transform: scale(1.1);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-text-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.content-container {
  padding: 0;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: whitesmoke;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  margin: 15px 0px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
}

.project-descriotion {
  padding: 60px 95px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .project-descriotion {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}

@media (max-width: 1000px) {
  .btn-branding {
    padding: 13px 30px;
  }
}

.personal {
  max-width: 100%;
  border-radius: 90px;
  margin: 20px auto;
}

.content .contact-box {
  border: 2px solid var(--secondary-text-color);
  border-radius: 10px;
  max-width: 800px;
  padding: 0 0 0 20px;
  margin: 0 auto;
}

.content h3 {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.contact-page {
  background: var(--secondary-color);
}

.contact-link {
  text-decoration: none;
  color: var(--branding-color);
}

.contact-link:hover {
  color: var(--primary-text-color);
}

.contact-content {
  color: var(--primary-text-color);
}

footer .contact-me {
  background: var(--branding-color);
}
